<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>108410325464-jg69qncfe7ija98diuk0hsgj6iajcict.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108410325464-jg69qncfe7ija98diuk0hsgj6iajcict</string>
	<key>API_KEY</key>
	<string>AIzaSyDYC9YuNb6sCJTu_eLgl_Tvp3Yi3VyAQ90</string>
	<key>GCM_SENDER_ID</key>
	<string>108410325464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gg.games</string>
	<key>PROJECT_ID</key>
	<string>gg-game-zone</string>
	<key>STORAGE_BUCKET</key>
	<string>gg-game-zone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108410325464:ios:8ae06dc5cb77b8f0</string>
	<key>DATABASE_URL</key>
	<string>https://gg-game-zone.firebaseio.com</string>
</dict>
</plist>